* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: #666;
}

h1 {
    font-size: 4rem;
}

h3 {
    font-size: 2rem;
    padding-bottom: 1rem;
}

.big-container {
    margin: 3rem 0;
}

.main-area-title, .area-title {
    text-align: center;
}

.wrapper {
    margin: 0 auto;
    width: 80%;
}

/* CSS that controls how the characters look in the character selection area */
#character-selection {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
    text-align: center;
}

.character {
    cursor: pointer;
}

.character-image {
    width: 60%;
    filter: brightness(30%);
    transition: 0.3s;
}

.character-image:hover, .character-image:focus {
    filter: brightness(100%);
}

.opponent-selection-container {
    display: none;
}

.stage-container {
    display: none;
    height: 300px;
    background-image: url("../images/fight-arena.jpg");
    background-position: center;
}